# Node.js
node_modules/
dist/
.env
npm-debug.log

# Java / Spring Boot
*.class
*.jar
*.war
target/
*.iml

# Go
bin/
vendor/

# Python
__pycache__/
*.pyc
.env

# Docker
*.env
docker-compose.override.yml

# Logs
*.log

# IDEs
.vscode/
.idea/
*.swp

# OS files
.DS_Store
Thumbs.db
